/* Normalizing */

* {
    box-sizing: border-box;
}

html {
    font-family: fantasy;
    font-size: 16px;
}

body {
    margin: 0;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    font-weight: normal;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: .3s color, .3s background;
}

button {
    transition: .3s color, .3s background, .3s opacity;
}


/* Scroll bar */

::-webkit-scrollbar {
    width: 13px;
    height: 20px;
    margin-left: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #262626;
    border-radius: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 15px;
    border: 1px solid;
    background-color: rgb(124, 80, 22);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: burlywood;
}

/* size range */


/* Size selector */

input[type=range] {
    -webkit-appearance: none;
    /* Hides the slider so that custom slider can be made */
    background: transparent;
    /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
    /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
    width: 100%;
    cursor: pointer;

    /* Hides the slider so custom styles can be added */
    background: transparent;
    border-color: transparent;
    color: transparent;
}

/* Special styling for WebKit/Blink */

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 30px;
    width: 7px;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px;
    /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    /* Add cool effects to your sliders! */
}

input[type=range]::-webkit-slider-runnable-track {
    width: 50%;
    height: 2.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #663b19;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #41320a;
}

input[type=range]::-moz-range-track {
    width: 50%;
    height: 2px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #5e4c1b;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 50%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: burlywood;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-lower {
    background: #696248;
}

input[type=range]::-ms-fill-upper {
    background: rgb(83, 70, 53);
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #412b2b, 0px 0px 1px #0d0d0d;
}

input[type=range]:focus::-ms-fill-upper {
    background: rgb(145, 102, 63);
}


/* cancel scroll */
html, body {margin: 0; height: 100%; overflow: hidden}

/* Helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clean-list li {
    margin: 0;
    padding: 0;
}


/* Positioning Helpers */

.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.space-between {
    justify-content: space-between;
}

.flex.space-around {
    justify-content: space-around;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.text-center {
    text-align: center;
}