@import './global-emails-app.css';
@import './emails-app.css';

/* helpers */
.fill{
    width: 100%;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}