@import './global-emails-app.css';
@import './emails-app.css';
@import './notes-app.css';


.main-nav{
    padding: 5px 20px;
    display: flex;
    background-color: rgb(255, 145, 0);
}

.ul-main-nav{
    width: 30px;
    height: 30px;
    list-style: none;
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

/* helpers */

.fill{
    width: 100%;
}

.flex{
    display: flex;
}

.column{
    flex-direction: column;
}

.space-around{
    justify-content: space-around;
}

.space-between{
    justify-content: space-between;
}

.justify-center{
    justify-content: center;
}
.align-center{
    align-items: center;
}
.aling-flex-end{
    align-items: flex-end;
    
}
.content {
    justify-content: center;
}
.direction-column{
    flex-direction: column;
}


/* cancel scroll */
html, body {margin: 0; height: 100%;}

/* Helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clean-list li {
    margin: 0;
    padding: 0;
}

