@import './global-emails-app.css';
@import './emails-app.css';
@import './notes-app.css';


.main-nav {
    padding: 5px 20px;
    display: flex;
    background-color: rgb(255, 172, 46);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}

.ul-main-nav {
    width: 30px;
    list-style: none;
    display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.ul-main-nav li {
    padding: 0px 2px;
}

/* helpers */

.fill {
    width: 100%;
}

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}

.flex1 {
    flex-grow: 1;
}

.wrap {
    flex-wrap: wrap;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.aling-flex-end {
    align-items: flex-end;
}

.text-center {
    text-align: center;
}

.content {
    justify-content: center;
}

.direction-column {
    flex-direction: column;
}

.align-end {
    align-items: flex-end;
}

/* cancel scroll */
html,
body {
    margin: 0;
    height: 100%;
}

/* Helpers */

.clean-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.clean-list li {
    margin: 0;
    padding: 0;
}
