
*{
    padding :0;
    margin: 0;
}
body {
    background-color: #000000;
}

.nav-bar-notes {
    width: 470px;
    height: 30px;
    background-color: rgb(112, 111, 111);
    padding: 3px;
    margin: 15px auto;
    background-color: #fff;
}

.node-img {
     width: 100%;
    /* height: 500px;  */
    padding: 10px;
    border-style: groove;
    background-color: rgb(212, 149, 14);
    border-radius: 5px;
}
.color-btn{
    order:0;
}

.color{
position: fixed;
top: -999%;
}

.continer-notes {
    width: 100%;
    height: 100%;
    column-count: 3;
    padding: 1%;

}


.notes-txt {
    /* width: 100%; */
    max-height: 250px;
    background-color: rgb(255, 145, 0);
    border-radius: 4px;
    break-inside: avoid;
    resize: none;
    scroll-padding-bottom: initial;
    overflow-y:scroll ;
}



.nav-bar-input {
    width: 250px;
    border-style: none;
    

}

.add-notes-btn {
    cursor: pointer;
    
}

.btn{
    cursor: pointer;
}

.note-list-card {
    list-style-type: none;
    
}

ul {
    margin: 0;
}
.todo{
    break-inside: avoid;
    resize: none;
    
}
.border-notes{
        
    border-style: groove;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius:7px ;
    break-inside: avoid;
    resize: none;
    margin: 1px;

}

.container-txt-node{
    break-inside: avoid;
    resize: none;
}
.container-note-txt-btn{
    display: flex;
    justify-content: center;
    
}

.list-todos{
    margin-left: 20px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} 
.space-between{
    justify-content: space-between;
}

.itemOnNav{
    width: 22px;
    height: 25px;
    border-bottom-style: groove;
    border-bottom-color:rgb(255, 136, 0) ;
}
.todo-controller{
    display: flex;
    list-style-type: none;
    margin-right: 10px;
    justify-content: space-between;
    border-style: groove;
    background-color: rgb(255, 127, 7);

}
.done{

    text-decoration: line-through;
}
.todo-line{
    
    width: 100%;
    break-inside: avoid;
    resize: none;
    background-color: rgb(255, 127, 7);
    scroll-padding-bottom: initial;
    border-style: none;
    /* overflow-y:scroll ; */
}

/* Input color */

/* input[type="color"] {
    -webkit-appearance: none;
    border: none;
    border-radius: 100%;
    width: 35px;
    height: 35px;
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 10px;
}

input[type="color"]::-webkit-color-swatch {
    border: none;
} */